@font-face {
    font-family:ProximaNova-Regular;
    src: url(../fonts/ProximaNova-Regular.woff2);
}
@font-face {
    font-family:ProximaNova-Bold;
    src: url(../fonts/ProximaNova-Bold.woff2);
}
@font-face {
    font-family:BelyDisplay-Regular ;
    src: url(../fonts/BelyDisplay-Regular.woff2);
}
@font-face {
    font-family:afuturarounddemi;
    src: url(../fonts/afuturarounddemi.woff2);
}
@font-face {
    font-family:proxima-nova-medium ;
    src: url(../fonts/proxima-nova-medium.woff2);
}